
.page-show{
	background: #fff;
    overflow: hidden;
    padding: 20px;
    border: 1px solid #dedede;
}






.detail-info{
    color: #bcbcbc;
    float: none;
    text-align: left;
    line-height: 200%;
    font-size: 12px;
}










