/*文章整体*/
.page-show{
	background: #fff;
    overflow: hidden;
    padding: 20px;
    border: 1px solid #dedede;
}

/*文章标题*/
.page-title{
	font-size: 20px;
	border-bottom: 1px solid #d3d3d3;
	padding-bottom: 20px;
	font-style: italic;
}

/*文章内容*/
.page-content{
	padding: 20px;
}
	/*对markdown中的样式优化，自定义*/
	#editormd-view{
		padding: 0px;
		overflow: inherit;
	}
	#editormd-view img{
		border: 1px solid #ddd;
		border-radius: 5px;
		box-shadow: 3px 3px #ddd;
		margin: 10px 0;
	}


	/*文章标签，时间，上下篇等*/
	.detail-info{
	    color: #bcbcbc;
	    float: none;
	    text-align: left;
	    line-height: 200%;
	    font-size: 12px;
	}










