@import url('/app/css/app_show_list_adapt.css');

/** 
 * 媒体查询 自适应
 * iPhone 6p 414*736
 * iPhone 5s 320*568
*/
@media screen and (min-width: 320px) and (max-width: 450px) {
    /*文章内容调整*/
    .pages-cell{
        margin-bottom: 15px;
        box-shadow: 3px 3px #d3dec7;
    }
    .page-title{
        float: none;
        font-size: 16px;
        font-style: oblique;
        padding-bottom: 8px;
        border-bottom: 1px dashed #ddd;
    }
    .page-time{
        float: none;
        display: none;
    }
    .page-content{
        font-size: 12px;
    }
    .page-tags > .page-tags-hours,.page-tags > .page-tags-author{
        display: none;
    }
    /*分页调整*/
    .split-page{
        padding: 15px 0;
    }
}


/** 
 * 媒体查询 自适应
 * 介于iPhone 6p 和iPad mini之间的
*/
@media screen and (min-width: 451px) and (max-width: 759px){
    /*文章内容调整*/
    .pages-cell{
        margin-bottom: 15px;
        box-shadow: 3px 3px #d3dec7;
    }
}


/** 
 * 媒体查询 自适应
 * iPad 768*1024
 * iPad Pro 1024*1366
*/
@media screen and (min-width: 760px){
    
}
























