@import url('/app/css/app_index_adapt.css');

/**	
 * 媒体查询 自适应
 * iPhone 6p 414*736
 * iPhone 5s 320*568
*/
@media screen and (min-width: 320px) and (max-width: 450px) {
	.headers,.mian,.footers{
		position: relative;
	}
	/*头部*/
	.headers{
		/*background-color: #fff;*/
	}
	.navbar{
		width: 100%;
		max-width: 450px;
		min-width: 320px;
	}
	.nav-logo{
		display: block;
		float: none;
	}
	div.navli-bar{
		height: 30px;
		width: 30px;
		display: block;
		float: right;
		margin: 20px 20px;
		color: #fff;
		opacity: 0.7;
		text-align: center;
		font-size: 16px;
	}
	div.navli-bar:hover{
		opacity: 1;
	}
	.nav-list{
		display: none;
		background-color: #6d6767;
	}
	.navbar .navli{
		display: block;
		border-bottom: 1px solid #333;
		height: 35px;
		line-height: 35px;
		z-index: 1200;
		/*background-color: blue;*/
	}
	.nav-logo{
		display: block;
	}

	/*侧边导航*/
	.sidebar{
		display: none;
		/*position: relative;*/
	}
	/*主体内容*/
	.main{
		width: 96%;
		max-width: 450px;
		min-width: 320px;
		margin: 20px auto;
	}
	.contents{
		margin: 0px;
		padding: 0px;
	}
}


/**	
 * 媒体查询 自适应
 * 介于iPhone 6p 和iPad mini之间的
*/
@media screen and (min-width: 451px) and (max-width: 759px){
	/*头部*/
	.navbar{
		width: 100%;
		max-width: 759px;
		min-width: 451px;
	}

	/*侧边导航*/
	.sidebar{
		display: none;
	}

	/*文章主要内容*/
	.main{
		width: 96%;
		max-width: 759px;
		min-width: 451px;
		margin: 20px auto;
	}
	.contents{
		margin: 0px;
		padding: 0px;
	}
}


/**	
 * 媒体查询 自适应
 * iPad 768*1024
 * iPad Pro 1024*1366
*/
@media screen and (min-width: 760px){
	
}
























