/*文章整体*/
.page-show{
	background: #fff;
    overflow: hidden;
    padding: 20px;
    border: 1px solid #dedede;
}

/*文章内容*/
.page-content{}

.page-content  pre.prettyprint.linenums.prettyprinted{
	/*对markdown中的代码部分优化*/
	margin-right: 40px;
}


/*文章标签，时间，上下篇等*/
.detail-info{
    color: #bcbcbc;
    float: none;
    text-align: left;
    line-height: 200%;
    font-size: 12px;
}










