
/**	
 * 媒体查询 自适应
 * iPhone 6p 414*736
 * iPhone 5s 320*568
*/
@media screen and (min-width: 320px) and (max-width: 450px) {
	@import url('/app/css/app_index_adapt.css');

	.headers{
		display: none;
	}
	.sidebar{
		display: none;
	}
	.main{
		width: 100%;
	}
	.content{
		width: 100%;
	}
}


/**	
 * 媒体查询 自适应
 * 介于iPhone 6p 和iPad mini之间的
*/
@media screen and (min-width: 451px) and (max-width: 759px){

	.sidebar{
		display: none;
	}
}


/**	
 * 媒体查询 自适应
 * iPad 768*1024
 * iPad Pro 1024*1366
*/
@media screen and (min-width: 760px){
	
}
























