extends main
block titles
	title #{title}
block links
	link(rel="stylesheet", href="/admin/css/articles_status.css")
block scripts

block contents
	div.status
		div.panel.panel-info
			div.panel-heading
				h3.panel-title
					span.glyphicon.glyphicon-ok-sign
					span 操作结果
			div.panel-body
				- if(success)
					p #{success}
				- if(error)
					p #{error}

