html
	head
		meta(charset="utf-8")
		meta(http-equiv="X-UA-Compatible",content="IE=edge,chrome=1")
		meta(name="viewport",content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no")
		title 登录
		link(rel="shortcut icon",href="/images/favicon.ico",type="image/x-icon")
		link(rel="stylesheet", href="/bootstrap/css/bootstrap.min.css")
		link(rel="stylesheet", href="/admin/css/login.css")
		script(src="/common/jquery.min.js")
		script(src="/bootstrap/js/bootstrap.min.js")
	body
		div#main
			div.banner
				span 后台管理
			form(action="/admin/login",method="post")
				div.form-group
					label.label-style(for="") 用户名
					input.form-style.form-control(type="text",name="name",placeholder="用户名")
				div.form-group
					label.label-style(for="") 密码
					input.form-style.form-control(type="password",name="password",placeholder="密码")
				div.form-group
					input.form-sub.btn.btn-default(type="submit",value="登陆")
					div#tips
						if error
							div.alert.alert-warning(role="alert") 
								span.glyphicon.glyphicon-alert &nbsp;
								| #{error}
						if success
							div.alert.alert-warning(role="alert") 
								span.glyphicon.glyphicon-alert &nbsp;
								| #{success}

		script(src="../js/login.js")
			
		