
extends main

block titles
	title 访问信息
block links
	link(rel="stylesheet", href="/admin/css/visitsInfo.css")
block scripts
	script(src="/admin/js/visitsInfo.js")
	script(src="/common/Highcharts.js")

block contents
	div.alert-style.alert.alert-info(role="alert") 最受欢迎的随笔
	div.pv-likes
		div#pv-likes-sort
	div.alert-style.alert.alert-success(role="alert") PV 每日总量监控
	div.pv-style
		div#pv-watch
				
