extends app_index

block titles

block links
	link(rel="stylesheet", href="/app/css/app_show_page.css")

block scripts

block content
	div.page-show
		div.page-content
		div.page-detail
			div.detail-kind
			div.detail-like
			div.detail-pre-next
			div.detail-info
				| posted @ 2015-11-25 15:25 xubiao 阅读(819)