html
	head
		meta(charset="utf-8")
		meta(http-equiv="X-UA-Compatible",content="IE=edge,chrome=1")
		meta(name="viewport",content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no")
		//- 引入font-awesome
		link(rel="stylesheet", href="/font-awesome/css/font-awesome.min.css")
		block titles
		//- link(rel="shortcut icon",href="/images/favicon.ico",type="image/x-icon")
		//- link(rel="stylesheet", href="/bootstrap/css/bootstrap.min.css")
		script(src="/common/jquery.min.js")
		//- script(src="/bootstrap/js/bootstrap.min.js")
		//- 自定义样式／脚本
		link(rel="stylesheet", href="/app/css/app_index.css")
		script(src="/app/js/app_index.js")
		//- 定义继承模块 block
		block links
		block scripts
	body
		div.headers
			div.navbar
				ul
					li.navli 
						a(href="/") xblog
					li.navli
						a(href="/") 首页
					li.navli
						a(href="/list?kind=Javascript") Javascript
					li.navli
						a(href="/list?kind=ES6") ES6
					li.navli
						a(href="/list?kind=Nodejs") Nodejs
					li.navli
						a(href="/list?kind=MongoDB") MongDB
					li.navli
						a(href="/list?kind=Project") 项目
		//- 主体内容
		div.main
			//- 侧边导航
			div.sidebar
				//- 关注我
				div.link
					div.link-title 关注我
					ul.link-ul
						li.link-li
							a(href="https://github.com/RocketV2",target="_blank")
								<i class="fa fa-github" aria-hidden="true"></i>
						li.link-li
							a(href="#",target="_blank")
								<i class="fa fa-rss" aria-hidden="false"></i>
				div.faith
					| keep it simple
					| keep it stupid
				//- 搜索文章
				form(action="/search",method="POST").search
					input#pageSearch(type="text",name="searchText",placeholder="全文搜索")
					input(type="submit" value="搜索").search-btn
				//- 热门文章
				div.docs-news
					div.docs-news-title
						| 热门文章
					ul#docs-news-ul.docs-news-ul
						//- li.docs-news-li
						//- 	a(href="#") nodejs爬虫教程 nodejs爬虫教程 nodejs爬虫教程 
						//- 	span 2017-2-1 阅读(20)
			
				//- 文章分类
				div.docs-kinds
					div.docs-kinds-title
						| 分类
					ul#docs-kinds-years-ul.docs-kinds-years-ul
						//- li.docs-kinds-years-li 
						//- 	a(href="/list?kind=Javascript") Javascript (20)
						//- li.docs-kinds-years-li 
						//- 	a(href="/list?kind=ES6") ES6 (18)
						//- li.docs-kinds-years-li 
						//- 	a(href="/list?kind=Nodejs") Nodejs (26)
						//- li.docs-kinds-years-li 
						//- 	a(href="/list?kind=MongoDB") MongoDB (21)
						//- li.docs-kinds-years-li 
						//- 	a(href="/list?kind=Project") Project (3)
				//- 文章归档
				div.docs-years
					div.docs-years-title
						| 归档
					ul.docs-kinds-years-ul
						li.docs-kinds-years-li 
							a(href="#") 2017 (20)
						li.docs-kinds-years-li 
							a(href="#") 2016 (18)
						li.docs-kinds-years-li 
							a(href="#") 2015 (26)
						li.docs-kinds-years-li 
							a(href="#") 2014 (21)
						li.docs-kinds-years-li 
							a(href="#") 2013 (3)
				//- 友情链接
				div.docs-friends
					div.docs-years-title
						| 友情链接
					ul.docs-friends-ul
						li.docs-frieds-li 
							a(href="http://taobaofed.org/",target="_blank") 
								<i class='fa fa-paperclip' aria-hidden='true'></i>
								| &nbsp;淘宝FED
						li.docs-frieds-li 
							a(href="https://cnodejs.org/",target="_blank")
								<i class='fa fa-paperclip' aria-hidden='true'></i>
								| &nbsp;cnode
						li.docs-frieds-li 
							a(href="https://75team.com/",target="_blank")
								<i class='fa fa-paperclip' aria-hidden='true'></i>
								| &nbsp;360奇舞团
						li.docs-frieds-li
							a(href="http://www.alloyteam.com/",target="_blank")
								<i class='fa fa-paperclip' aria-hidden='true'></i>
								| &nbsp;AlloyTeam
	
			//- 内容
			div.contents
				block content
		//- 页脚
		div.footers
			div.foot-info Copyright © 2015-2017 xblog All Rights Reserved. 

		//- 返回顶部
		div.sideNav
			div#returnTop
				<i class="fa fa-angle-up" aria-hidden="true"></i>
			div#emailTo
				a(href="mailto:2500392489@qq.com") email













